# config/services.yaml
parameters:
    upload_dir_garments: '%kernel.project_dir%/public/uploads/garments'
    upload_dir_avatars: '%kernel.project_dir%/public/uploads/avatars'
    openai.api_key: '%env(OPENAI_API_KEY)%'
    openai.model: '%env(default::OPENAI_MODEL)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
